<div class="container">
    <div class="starter-template">
      <h1>Angular CLI + Bootstrap</h1>
      <input [(ngModel)]="paymentModel.BSB" placeholder="BSB"/>
      <input [(ngModel)]="paymentModel.AccountNumber" placeholder="Account Number"/>
      <input [(ngModel)]="paymentModel.AccountName" placeholder="AccountName"/>
      <input [(ngModel)]="paymentModel.Reference" placeholder="Reference"/>
      <input [(ngModel)]="paymentModel.PaymentAmount" placeholder="Payment Amount"/>
      <button (click)="save()">go back</button>
    </div>
  </div>
