<div class="container">
  <div class="card">
    <div class="card-title text-center text-white bg-primary mb-3">
      <h1>PAYMENT</h1>
    </div>
    <div class="card-body">
      <form>
        <div class="form-group row">
          <label for="txt_bsb" class="col-sm-4 col-form-label">BSB</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" name="txt_bsb" placeholder="BSB" [(ngModel)]="paymentModel.BSB">
          </div>
        </div>
        <div class="form-group row">
          <label for="txt_accountNum" class="col-sm-4 col-form-label">Account Number</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" name="txt_accountNum" placeholder="Account Number" [(ngModel)]="paymentModel.AccountNumber">
          </div>
        </div>
        <div class="form-group row">
          <label for="txt_accountName" class="col-sm-4 col-form-label">Account Name</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" name="txt_accountName" placeholder="Account Name" [(ngModel)]="paymentModel.AccountName">
          </div>
        </div>
        <div class="form-group row">
          <label for="txt_reference" class="col-sm-4 col-form-label">Reference</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" name="txt_reference" placeholder="Reference" [(ngModel)]="paymentModel.Reference">
          </div>
        </div>
        <div class="form-group row">
          <label for="txt_amount" class="col-sm-4 col-form-label">Payment Amount</label>
          <div class="col-sm-8">
            <input type="number" class="form-control" name="txt_amount" placeholder="Payment Amount" [(ngModel)]="paymentModel.PaymentAmount">
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-12 ">
            <div class="p-3 mb-2 bg-danger text-white" *ngIf="isWithError()">

              <div *ngFor= "let err of errors">
                <p >{{err}}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-12 text-center">
            <button class="btn btn-secondary btn-lg" (click)="save()">SUBMIT</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
